.search__inner {
    width: 100%;
    padding: 26px 40px 18px 40px;
    border-bottom: 1px solid var(--black600);

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white);
        border: 1px solid var(--black600);
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black);
    }
}

@media (max-width: 800px) {
    .search__inner {
        display: flex;
        justify-content: flex-end;

        .search__input {
            width: 50% !important;
        }

        .search__input::placeholder {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 450px) {
    .search__inner {
        display: flex;
        justify-content: flex-end;
        padding: 26px 10px 18px 40px;

        .search__input {
            width: 40% !important;
            padding: 15px;
        }

        .search__input::placeholder {
            font-size: 0.7rem;
        }
    }
}